body{
    background-color: #ffcc00;
}
p{
    background-color: #003366;
    color: white;
    padding: 25px;
    font: arial;
}
    
    img{
        padding: 10xp; 
    border: 5xp dotted red;
    background-color:white;
    }

